body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  max-width: 1600px;
  min-width: 320px;
}

*,
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

address {
  font-style: normal;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container--flex {
  display: flex;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  transform: scale(1.05);
}

.primary-header {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  color: #2196f3;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.logo--black {
  color: #212121;
}

.logo--white {
  color: #ffffff;
}

.visually-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.circular-button {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.circular-button:hover, .circular-button:focus {
  background: #2196f3;
  fill: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-header {
  border: 1px solid #ececec;
}

.menu-toggle {
  margin-top: auto;
  margin-bottom: auto;
  max-height: 28px;
  max-width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: auto;
  outline: none;
}
.menu-toggle__icon {
  width: 28px;
  height: 28px;
}

.nav {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
  .header-contacts-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    padding-top: 26px;
    padding-bottom: 25px;
  }
  .nav__logo {
    margin-right: 93px;
  }
  .nav__list {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0.02em;
    line-height: 1.14;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .header-contacts-list {
    align-items: unset;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
    padding-top: 21px;
  }
  .header-contacts-list__link {
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0.02em;
    line-height: 1.14;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts-list__link:hover, .header-contacts-list__link:focus {
    color: #2196f3;
  }
  .header-contacts-list__icon-mail {
    fill: currentColor;
    margin-right: 10px;
    display: flex;
    width: 14px;
    height: 10px;
  }
  .header-contacts-list__icon-phone {
    fill: currentColor;
    margin-right: 10px;
    display: flex;
    width: 10px;
    height: 14px;
  }
  .header-contacts-list__icon--alignment {
    margin-top: 2px;
  }
  .current-side {
    color: #2196f3;
  }
  .current-side::after {
    content: " ";
    border-radius: 2px;
    height: 4px;
    background-color: #2196f3;
    display: block;
    position: absolute;
    top: 44.5px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    gap: 46px;
  }
  .header-contacts-list {
    padding: 0;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .header-contacts-list__icon-mail {
    width: 16px;
    height: 12px;
  }
  .header-contacts-list__icon-phone {
    height: 16px;
  }
}
.hero {
  padding-bottom: 118px;
  padding-top: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.66;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 405px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero__button {
  padding: 10px 41px;
}

@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
  .hero__header {
    font-size: 44px;
    max-width: 696px;
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2.jpg);
  }
}
.descriptions-list {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 30px;
}
.descriptions-list__icon-background {
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.descriptions-list__icon {
  fill: #2196f3;
  height: 70px;
}
.descriptions-list__headers {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.descriptions-list__texts {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 450px;
}

@media screen and (max-width: 460px) {
  .descriptions-list__icon-background {
    width: 360px;
  }
  .descriptions-list__texts {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .descriptions-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .descriptions-list__icon-background {
    width: 354px;
  }
  .descriptions-list__headers {
    text-align: start;
    margin-top: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    width: 270px;
  }
  .descriptions-list__texts {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 354px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .descriptions-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: auto;
  }
  .descriptions-list__icon-background {
    width: 270px;
  }
  .descriptions-list__headers {
    text-align: start;
    margin-top: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    width: 270px;
  }
  .descriptions-list__texts {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}
.what-we-do-list {
  display: flex;
  text-align: center;
  gap: 30px;
}
.what-we-do-list__item {
  position: relative;
  text-align: center;
}
.what-we-do-list__content {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.hide-mobile {
  display: none;
}

@media screen and (min-width: 1200px) {
  .hide-mobile {
    display: unset;
  }
}
.team-section {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team-member-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-member-card__img {
  width: 450px;
}
.team-member-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.team-member-card__profession {
  color: #757575;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.team-socials-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-top: 16px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-list__link:hover, .team-socials-list__link:focus {
  background: #2196f3;
}
.team-socials-list__link:hover .team-socials-list__icon, .team-socials-list__link:focus .team-socials-list__icon {
  fill: #ffffff;
}
.team-socials-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-list {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .team-member-card__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    width: auto;
  }
  .team-member-card__img {
    width: 270px;
  }
}
@media screen and (max-width: 460px) {
  .team-member-card__img {
    width: 330px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.clients-list__link {
  width: 140px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196f3;
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}
.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients-list {
    width: 450px;
  }
  .clients-list__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    width: 742px;
    margin-left: auto;
    margin-right: auto;
  }
  .clients-list__link {
    width: 227px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    width: auto;
  }
  .clients-list__link {
    width: 170px;
  }
}
.page-footer {
  background: #2f303a;
  padding: 60px 0px;
}

.contacts-section {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.contacts-section__logo {
  margin-bottom: 20px;
}
.contacts-section__list {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.contacts-section__street {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-section__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 9px;
  display: block;
}
.contacts-section__link:hover, .contacts-section__link:focus {
  color: #2196f3;
}

.footer-headers {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 12px;
  text-align: center;
}

.footer-socials-section {
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer-socials-section__list {
  display: flex;
  gap: 10px;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}
.footer-socials-section__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-section__link:hover, .footer-socials-section__link:focus {
  background: #2196f3;
}
.footer-socials-section__icon {
  fill: #ffffff;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.newsletter-form__input {
  width: 308px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.newsletter-button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  letter-spacing: 0.06em;
  line-height: 1.87;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-button__content {
  position: absolute;
  top: 10px;
  left: 42px;
}
.newsletter-button__icon {
  position: absolute;
  top: 13px;
  left: 148px;
}
.newsletter-button:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 480px) {
  .newsletter-form__input {
    width: 358px;
  }
}
@media screen and (min-width: 768px) {
  .container--wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts-section {
    margin-left: auto;
    margin-right: 144px;
  }
  .footer-socials-section {
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .newsletter-section {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 109px;
    padding-left: 109px;
  }
}
@media screen and (min-width: 1200px) {
  .container--wrap {
    display: flex;
    flex-wrap: nowrap;
  }
  .newsletter-form {
    flex-direction: row;
  }
  .newsletter-button {
    margin-top: 0;
    margin-left: 12px;
  }
  .footer-headers {
    text-align: start;
  }
  .contacts-section {
    margin-right: 70px;
    place-items: normal;
  }
  .contacts-section__list {
    place-items: normal;
  }
  .footer-socials-section__list {
    margin-right: 78px;
  }
  .newsletter-section {
    padding: 0;
    margin: 0;
  }
}
.backdrop {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 40px;
}
.modal-window__header {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  text-align: center;
  width: 370px;
}
.modal-window__button {
  padding: 10px 76px;
  display: block;
  margin: 0 auto;
}
.modal-window__circular-button {
  top: 8px;
  right: 8px;
  position: absolute;
}
.modal-window__form {
  width: 370px;
}

.modal-labels {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.16;
  color: #757575;
  margin-top: 10px;
  position: relative;
}
.modal-labels__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-labels__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.modal-labels__input:focus + .modal-labels__icon {
  fill: #2196f3;
}
.modal-labels__icon {
  fill: #212121;
  position: absolute;
  bottom: 14px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-labels__textarea {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-labels__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.checkbox-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 24px;
  position: relative;
}
.checkbox-label:before {
  position: absolute;
  bottom: 1px;
  left: 0px;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label__link {
  color: #2196f3;
  text-decoration: underline;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1.16;
}

.checkbox:checked + .checkbox-label:before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .modal-window__form {
    width: auto;
  }
  .modal-labels__input {
    width: 448px;
  }
  .modal-labels__textarea {
    width: 448px;
  }
  .checkbox-label {
    font-size: 14px;
    padding-left: 36px;
  }
  .checkbox-label:before {
    bottom: 1.5px;
    left: 12px;
  }
  .checkbox-label__link {
    font-size: 14px;
  }
}
.nav-mobile-section {
  transition: 0.3s ease-in-out;
  transform: translateX(-120%);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.nav-mobile-section__circular-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 25px;
}

.nav-mobile-section.active {
  transform: translateX(0%);
}

.nav-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.nav-mobile-list__link {
  font-weight: 500;
  font-size: 40px;
  color: #212121;
  letter-spacing: 0.02em;
  line-height: 1.175;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-mobile-list__link:hover, .nav-mobile-list__link:focus {
  color: #2196f3;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: auto;
  margin-bottom: 64px;
}
.mobile-contacts-list__link {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  line-height: 1.17;
  color: #757575;
}

.mobile-socials-list {
  display: flex;
}
.mobile-socials-list__link {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.22;
  color: #2196f3;
  padding-left: 10px;
  padding-right: 10px;
}
.mobile-socials-list__decoration {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media (max-width: 400px) {
  .mobile-socials-list {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.buttons-section {
  padding-top: 60px;
  padding-bottom: 40px;
}
.buttons-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 373px;
  margin-left: auto;
  margin-right: auto;
}
.buttons-section__button {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-section__button:focus, .buttons-section__button:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .buttons-section {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .buttons-section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: auto;
  }
}
.grid-section {
  padding-bottom: 60px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  position: relative;
  overflow: hidden;
}
.project-card__img {
  width: 350px;
}
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.project-card:hover .overlay {
  transform: translatey(0%);
}
.project-card__figcaption {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: #ffffff;
  position: relative;
}
.project-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-left: 24px;
  padding-top: 20px;
}
.project-card__role {
  color: #757575;
  margin-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
  line-height: 1.87;
}

.overlay {
  background: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  position: absolute;
  transform: translatey(100%);
  margin-bottom: 50px;
  bottom: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .grid {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .project-card__img {
    width: 450px;
    height: 294px;
  }
  .overlay {
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
  }
  .project-card__img {
    width: 354px;
  }
  .overlay {
    padding: 49px 24px;
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    width: auto;
  }
  .project-card__img {
    width: 370px;
  }
}/*# sourceMappingURL=main.css.map */