body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $blackColor;
  max-width: 1600px;
  min-width: 320px;
}
*,
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
address {
  font-style: normal;
}
