.descriptions-list {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 30px;

  &__icon-background {
    width: 450px;
    height: 120px;
    background-color: $brandBackgroundColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__icon {
    fill: $mainBrandColor;
    height: 70px;
  }
  &__headers {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
  }
  &__texts {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphColor;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 450px;
  }
}
@media screen and (max-width: 460px) {
  .descriptions-list__icon-background {
    width: 360px;
  }
  .descriptions-list__texts {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .descriptions-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    &__icon-background {
      width: 354px;
    }
    &__headers {
      text-align: start;
      margin-top: 20px;
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      margin-bottom: 10px;
      width: 270px;
    }
    &__texts {
      font-size: 14px;
      font-weight: 400;
      color: $paragraphColor;
      line-height: 1.71;
      letter-spacing: 0.03em;
      width: 354px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .descriptions-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: auto;
    &__icon-background {
      width: 270px;
    }
    &__headers {
      text-align: start;
      margin-top: 20px;
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      margin-bottom: 10px;
      width: 270px;
    }
    &__texts {
      font-size: 14px;
      font-weight: 400;
      color: $paragraphColor;
      line-height: 1.71;
      letter-spacing: 0.03em;
      width: 270px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
