.team-section {
  background: $brandBackgroundColor;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team-member-card {
  background: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;

  &__img {
    width: 450px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  &__profession {
    color: $paragraphColor;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

.team-socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    margin-top: 16px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: $mainBrandColor;

      .team-socials-list__icon {
        fill: $whiteColor;
      }
    }
  }

  &__icon {
    fill: $svgsMainColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .team-member-card__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    width: auto;
  }

  .team-member-card__img {
    width: 270px;
  }
}
@media screen and (max-width: 460px) {
  .team-member-card__img {
    width: 330px;
  }
}
